This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [186]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = ''

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [187]:
# First, import the relevant modules
import requests
import json

# only need json_normalize from pandas
from pandas.io.json import json_normalize

In [188]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url_p1 = 'https://www.quandl.com/api/v3/datasets/FSE/EON_X?start_date=2018-08-24&end_date=2018-08-24&api_key='
url_test = url_p1 + API_KEY
r_test = requests.get(url_test)

# decode the JSON data into a dictionary:
data_test = r_test.json()

In [189]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
data_test

{'dataset': {'collapse': None,
  'column_index': None,
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'data': [['2018-08-24',
    None,
    9.547,
    9.438,
    9.495,
    None,
    9494880.0,
    90098547.0,
    None,
    None,
    None]],
  'database_code': 'FSE',
  'database_id': 6129,
  'dataset_code': 'EON_X',
  'description': 'Stock Prices for E.on Se (EON) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE000ENAG999',
  'end_date': '2018-08-24',
  'frequency': 'daily',
  'id': 36592406,
  'limit': None,
  'name': 'E.on Se (EON_X)',
  'newest_available_date': '2018-08-24',
  'oldest_available_date': '2003-01-20',
  'order': None,
  'premium': False,
  'refreshed_at': '2018-08-24T22:28:37.211Z',
  'start_date': '2018-08-24',
  'transform': None,
  'type': 'Time Series'}}

In [190]:
num = json_normalize(data_test, [['dataset', 'data']])
num

,0,1,2,3,4,5,6,7,8,9,10
0,2018-08-24,None,9.547,9.438,9.495,None,9494880.0,90098547.0,None,None,None

In [191]:
headings = json_normalize(data_test, [['dataset', 'column_names']])

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

## Start of assignment
## Q1

In [192]:
# Import data for the whole year 2017, for stock AFX_X
url_p1 = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X?start_date=2017-01-01&end_date=2017-12-31&api_key='
url = url_p1 + API_KEY
r = requests.get(url)

# decode the JSON data into a dictionary:
data = r.json()

## Q2

In [193]:
# extract the price data only
price_data = json_normalize(data, [['dataset', 'data']])

# extract the column headings and convert to a row:
heading = json_normalize(data_test, [['dataset', 'column_names']]).transpose()

In [194]:
# append the heading row to price_data and set column names
price_data = heading.append(price_data)
price_data.columns = price_data.iloc[0]

In [195]:
# drop the 1st row (which is the column names): 
price_data = price_data.iloc[1:]

In [196]:
price_data.iloc[0:5]

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640,1.7923e+06,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.6,NaN,40660,2.09902e+06,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452,2.95702e+06,None,None,None
3,2017-12-22,51.05,51.5,50.92,51.32,NaN,71165,3.64195e+06,None,None,None
4,2017-12-21,51.16,51.52,50.9,51.4,NaN,120649,6.17943e+06,None,None,None

In [197]:
# convert the price data to a dictionary
price_dict = price_data.to_dict()

## Q3
Calculate what the highest and lowest opening prices were for the stock in this period.

In [198]:
# Create a list of all opening prices and then calculate the max and min:
open_list = [value for key, value in price_dict['Open'].items()]
highest_open = max(open_list)
lowest_open = min(open_list)
print('Highest open is: ' + str(highest_open))
print('Lowest open is: ' + str(lowest_open))

Highest open is: 53.11
Lowest open is: 34.0

## Q4
The largest change in any one day (based on High and Low price)?

In [199]:
Len = len(price_dict['High'])
diff = [price_dict['High'][i] - price_dict['Low'][i] for i in range(Len)]

# round the max difference in price to 2 d.p.:
max_diff = round(max(diff), 2)
print('The largest change in any one day is: ' + str(max_diff))

The largest change in any one day is: 2.81

## Q5
The largest change between any two days (based on Closing Price)?

In [200]:
# Assuming "any two days" means the following: Day2_closing_price - Day1_closing_price
change = [price_dict['Close'][i] - price_dict['Close'][i-1] for i in range(1,Len)]

# round the max change in price to 2 d.p.:
max_change = round(max(change), 2)
print('The largest change between any two days (based on Closing Price) is: ' + str(max_change))

The largest change between any two days (based on Closing Price) is: 2.56

## Q6
The average daily trading volume during this year?

In [201]:
vol_list = [value for key, value in price_dict['Traded Volume'].items()]
ave_vol = round(sum(vol_list)/Len, 0)
print('The average daily trading volume during this year is: ' + str(ave_vol))

The average daily trading volume during this year is: 89124.0

## Q7
The median trading volume during this year.

In [202]:
# median function
def median(lst):
    n = len(lst)
    if n < 1:
        return None
    if n % 2 == 1:
        return sorted(lst)[n//2]
    else:
        return sum(sorted(lst)[n//2-1:n//2+1])/2.0

In [203]:
median_vol = median(vol_list)
print('The median daily trading volume during this year is: ' + str(median_vol))

The median daily trading volume during this year is: 76286.0